/* .card:hover {
    box-shadow: 0 2px 4px rgb(40 41 61 / 14%), 0 8px 16px rgb(96 97 112 / 16%);
    
} */
.cardShadow:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgb(96 97 112 / 16%);

}


.cardFooter__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    /* background-color: tomato; */
}

.cardFooter__favorite {
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: teal; */
}

.boxSvg {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: large;
    color: #7B8E98;
    margin-top: 20px;
    margin-right: 20px;

}

.boxSvg:hover {
    cursor: pointer;
    stroke: rgb(231, 61, 31);
}

.boxComm {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    /* font-size: medium; */
    color: inherit;

}

.boxComm:hover {
    cursor: pointer;
}

.cardFooter__date {
    display: flex;
    /* align-items: center; */
    /* align-items: flex-end; */

    /* background-color: rgb(112, 134, 212) */
}

/* .cardInfo_wrap_userInfo {
    background-color: #e8a0a0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

/* .cardInfo_userInfo {
    background: aqua;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.cardInfo_wrap_like_tags {
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    /* padding-top: 0px; */
    background-color: #ccc;

}

.pointer {
    cursor: pointer;
}

.userInfoWrapper {
    display: flex;
    /* align-items: flex-start; */

}

.userInfoWrapper>* span {
    /* display: flex; */
    text-align: left;
    color: #333;
}

.commentWrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* border-top: 1px solid #ccc; */


}

.commentWrapper:not(:first-child) {
    border-top: 1px solid #ccc;

}

.userInfoComment>* span {
    font-size: 0.75rem;

}

.commentText {
    color: #2d2d2d;
    font-size: 1rem;
}

.postDescription {
    color: #000;
}

.btnBackWrapper {
    margin-bottom: 20px;
}