.cardShadow:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgb(96 97 112 / 16%);

}


.cardFooter__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cardFooter__favorite {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.boxSvg {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 24px;
    color: #7B8E98;
    margin-top: 20px;
    margin-right: 20px;

}

.boxSvg:hover {
    cursor: pointer;
    color: #FF4444;
}

.boxComm {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    color: inherit;

}

.boxComm:hover {
    cursor: pointer;
}

.cardFooter__date {
    display: flex;
}

.cardInfo_wrap_like_tags {
    background-color: #ccc;

}

.pointer {
    cursor: pointer;
}

.userInfoWrapper {
    display: flex;
    justify-content: space-between;

}

.userInfoWrapper>* span {
    text-align: left;
    color: #333;
}

.commentWrapper {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.commentWrapper:not(:first-child) {
    border-top: 1px solid #ccc;

}

.userInfoComment>* span {
    font-size: 12px;

}

.userInfoComment {
    display: flex;
    align-items: center;
}

.commentText {
    color: #2d2d2d;
    white-space: break-spaces;
    word-break: break-all;
    line-height: 26px;
    margin: 30px;
    font-size: 15px;
}

.postDescription {
    color: #000;
}

.btnBackWrapper {
    margin-bottom: 20px;
}

/* Форма Добавления отзыва */

.formComment {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.formComment h2 {
    margin: 0;
    color: #161616;
}

.formComment textarea {
    min-height: 50px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #2d2d2d;

}

.errorComment {
    color: red;
}