/* .card:hover {
    box-shadow: 0 2px 4px rgb(40 41 61 / 14%), 0 8px 16px rgb(96 97 112 / 16%);
    
} */
.cardShadow:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgb(96 97 112 / 16%);

}


.cardFooter__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
    /* background-color: tomato; */
}

.cardFooter__favorite {
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: teal; */
}

.boxSvg {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #7B8E98;
}

.boxSvg:hover {
    cursor: pointer;
    color: #FF4444;
}

.boxComm {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #7B8E98;

}

.boxComm:hover {
    cursor: pointer;
}

.cardFooter__date {
    display: flex;
    /* align-items: center; */
    /* align-items: flex-end; */

    /* background-color: rgb(112, 134, 212) */
}


.pointer {
    cursor: pointer;
}